@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
}

:root {
    --ptform-bg-color: #fff;
    --ptform-main-text-color: black;
    --ptform-secondary-text-color: #999;
    --ptform-tertiary-text-color: #f1f1f1;
    --ptform-main-accent-color: #0dbc79;
    --ptform-secondary-accent-color: #bbebd5;
    --ptform-font-family: 'Noto Sans JP', sans-serif;
}

:host {
    font-family: var(--ptform-font-family);
}

input,
input[type='text'],
input[type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    --tw-ring-shadow: 0 0 #000 !important;
}

p,
label,
span,
legend {
    @apply break-words;
    color: var(--ptform-main-text-color);
}
