@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ptform-bg-color: #fff;
    --ptform-main-text-color: #181818;
    --ptform-secondary-text-color: #999;
    --ptform-tertiary-text-color: #f1f1f1;
    --ptform-main-accent-color: #0dbc79;
    --ptform-secondary-accent-color: #bbebd5;
}

input,
input[type='text'],
input[type='email'] {
    @apply border-b-gray-400 focus:border-gray-400 appearance-none bg-transparent leading-[1.48] text-[0.72em] font-black ml-0 mr-[0.6em] my-0 px-[0.2em] py-[0.16em] rounded-none border-0 border-b border-solid outline-none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    --tw-ring-shadow: 0 0 #000 !important;
}
